:root {
  --black: #3d3d3d;
  --white: #ffffff;
  --primary: #213f7d;
  --secondary: #39cdcc;
  --secondaryHovered: #1b8484;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: WorkSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary);
}

@font-face {
  font-family: WorkSans;
  src: url("../assets/fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: WorkSans;
  src: url("../assets/fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: AvenirNextLT;
  src: url("../assets/fonts/Avenir_Next/AvenirNextLTPro-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: AvenirNextLT;
  src: url("../assets/fonts/Avenir_Next/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

.global_container {
  max-width: 1440px;
  margin: 0 auto;
}
.cointainer {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
img {
  max-width: 100%;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.primary_color {
  color: var(--primary);
}
.btn {
  padding: 15px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  cursor: pointer;
}

.primary_btn {
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
  &:disabled {
    opacity: 0.7;
    background-color: #777777;
    cursor: not-allowed;
  }
  &:hover {
    background-color: var(--secondaryHovered);
    border-color: var(--secondaryHovered);
  }
}

.outline_btn {
  border-color: #545f7d;
  background-color: white;
  &:hover {
    background-color: rgba(119, 119, 119, 0.1);
  }
}

.layout {
  display: flex;
  justify-content: space-between;
}
.sideNavWrap {
  width: 20%;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  height: 100vh;
  overflow-y: scroll;
}
.contentsSection {
  width: 80%;
  background: #fafafa;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
}
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  text-transform: capitalize;
  & > div {
    width: 50%;
    text-align: center;
    button {
      margin-top: 20px;
    }
  }
}
.cancelSideNav {
  cursor: pointer;
  background-color: inherit;
  text-align: right;
  padding: 20px;
  padding-bottom: 0;
  display: none;
  position: sticky;
  top: 10px;
  right: 30px;
}
.openSideNavBtn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  position: absolute;
  top: 105px;
  left: -20px;
  display: none;
  svg {
    width: 40px;
  }
}
.loading {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool_tip {
  position: relative;
  cursor: pointer;
}

.tool_tip .tool_tiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgba(84, 95, 125, 0.3);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 1;
  font-size: 12px;
  line-height: 14px;
}

.tool_tip:hover .tool_tiptext {
  visibility: visible;
}
@media (max-width: 1150px) {
  .sideNavWrap {
    width: 40%;
    position: absolute;
    top: 50px;
    display: none;
  }
  .contentsSection {
    width: 100%;
  }
  .openSideNavBtn {
    display: block;
  }
  .openSideNav {
    display: block;
  }
  .cancelSideNav {
    display: block;
  }
}
@media (max-width: 760px) {
  .openSideNavBtn {
    top: 70px;
    left: -10px;
    z-index: 2;

    svg {
      width: 30px;
    }
  }
  .sideNavWrap {
    width: 80%;
    height: 100vh;
    z-index: 2;
  }
  .no-content {
    height: 50%;
    text-align: center;
    h3 {
      font-size: 14px;
    }
  }
}
